@model QuanLyKho.Models.Invent.SalesOrderLine

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminlteNetcoreDetails.cshtml";
}



<div class="row">
    <div class="col-md-9">
        <!-- Default box -->
        <div class="box box-primary">
            <div class="box-body">
                <div>
                    <div>
                        <dl class="dl-horizontal">
                            <dt>
                                Số lượng
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.qty)
                            </dd>

                            <dt>
                                Đơn giá
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.price)
                            </dd>

                            <dt>
                                Giảm giá
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.discountAmount)
                            </dd>

                            <dt>
                                Thành tiền
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.totalAmount)
                            </dd>

                            <dt>
                                Ngày tạo
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.createdAt)
                            </dd>

                            <dt>
                                Sản phẩm
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.product.productId)
                            </dd>

                            <dt>
                                Đơn bán hàng

                    </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <div class="form-group">
                    <a asp-action="Edit" asp-route-id="@Model.salesOrderLineId" class="btn btn-primary">Edit</a>
                    <a asp-action="Index" class="btn btn-default">Back to List</a>
                </div>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </div>
    <div class="col-md-3">
    </div>
</div>



