@model QuanLyKho.Models.Invent.Branch
@inject QuanLyKho.Data.ApplicationDbContext _context;
@{
    ViewData["Title"] = "Xóa";
    Layout = "~/Views/Shared/_AdminlteNetcoreDelete.cshtml";
    ViewData["EntityIcon"] = "fa fa-building-o";
    ViewData["DeleteInfo"] = "Branch that already have warehouses can not be deleted.";
    QuanLyKho.Models.Invent.Warehouse wh = _context.Warehouses.Where(x => x.branchId.Equals(Model.branchId)).FirstOrDefault();
    ViewData["IsCanDeleted"] = false;
    if (wh == null)
    {
        ViewData["IsCanDeleted"] = true;
    }
}


@Html.Partial("_StatusMessage", (string)ViewBag.StatusMessage)
<div>

    <dl class="dl-horizontal">

        <dt>Tên Chi Nhánh</dt>
        <dd>@Html.DisplayFor(m => m.branchName)</dd>

        <dt>Mô Tả Chi Nhánh</dt>
        <dd>@Html.DisplayFor(m => m.description)</dd>

        <dt>Là Chi Nhánh Mặc Định?</dt>
        <dd>@Html.DisplayFor(m => m.isDefaultBranch)</dd>

        <dt>Địa Chỉ 1</dt>
        <dd>@Html.DisplayFor(m => m.street1)</dd>

        <dt>Địa Chỉ 2</dt>
        <dd>@Html.DisplayFor(m => m.street2)</dd>

        <dt>Thành Phố</dt>
        <dd>@Html.DisplayFor(m => m.city)</dd>

        <dt>Tỉnh/Quận/Huyện</dt>
        <dd>@Html.DisplayFor(m => m.province)</dd>

        <dt>Quốc Gia</dt>
        <dd>@Html.DisplayFor(m => m.country)</dd>

        <dt>Ngày Tạo</dt>
        <dd>@Html.DisplayFor(m => m.createdAt)</dd>

    </dl>

</div>

