@model QuanLyKho.Models.ApplicationUser
@{
    ViewData["Title"] = "Chi tiết tài khoản";
    Layout = "_AdminlteNetcore";
}
<div class="content-wrapper">
    <section class="content-header">
        <h1>Chi tiết tài khoản</h1>
    </section>
    <section class="content">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Thông tin tài khoản</h3>
            </div>
            <div class="box-body">
                <div>
                    <h4>@Model.UserName</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>@Html.DisplayNameFor(model => model.Email)</dt>
                        <dd>@Html.DisplayFor(model => model.Email)</dd>
                        
                        <dt>@Html.DisplayNameFor(model => model.PhoneNumber)</dt>
                        <dd>@Html.DisplayFor(model => model.PhoneNumber)</dd>
                        
                        <dt>@Html.DisplayNameFor(model => model.isSuperAdmin)</dt>
                        <dd>@Html.DisplayFor(model => model.isSuperAdmin)</dd>
                    </dl>
                </div>
            </div>
             <div class="box-footer">
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Sửa</a>
                <a asp-action="Index" class="btn btn-default">Trở lại danh sách</a>
            </div>
        </div>
    </section>
</div>
